# Flutter/Dart-specific
**/doc/api/
**/ios/Flutter/Generated.xcconfig
**/ios/Runner/GeneratedPluginRegistrant.*

# Android-specific
**/android/**/generated_*.json
**/android/**/GeneratedPluginRegistrant.*

# Visual Studio Code
.vscode/

# IntelliJ IDEA
.idea/

# Android Studio
*.iml
.idea/

# macOS
.DS_Store

# Flutter build artifacts
build/
